@import "../styles/ui/_fonts.scss";
@import "../styles/ui/main.scss";
@import "../styles/tailwind/tailwind.scss";

* {
  font-family: 'YekanBakh', 'Tahoma', sans-serif;
}

body {
  font-family: 'YekanBakh', 'Tahoma', sans-serif;
  direction: rtl;
}

.font-yekan {
  font-family: 'YekanBakh', 'Tahoma', sans-serif;
}
